@charset "utf-8";
/* pp */
checkbox,radio{*width:13px; margin:0;}
input[type="radio"],input[type="checkbox"]{margin:0;}
radio{vertical-align:-2px;*vertical-align:-1px;} 
checkbox{vertical-align:-3px;*vertical-align:-2px;} 
table td {vertical-align:middle; line-height:31px !important;}
.red{color:#ff0000; padding-right:5px;}
.note{color:#4b4b4b; padding-left:8px;}
.pp_1{ padding-left:15px;}
.pp_1 span{ display:block; float:right; padding-right:15px;}
.pp_2{width:100%; margin:0 auto;}
.pp_2,.pp_2 td{border:1px solid #ddd;}
.pp_2 td input,.pp_2 td label{ float:left;}
.pp_2 td label{padding-right:8px;}
/* width */
.width_60{
	width:60px;
}
.width_120{
	width:120px;
}
.width_220{
	width:220px;
}
.width_430{
	width:430px;
}
/* height */
.height_60{
	height:60px;
}
/* padding */
.pad_right_10{
	padding-right:10px;
}

/* margin */

/* text-align */
.text_right,.text_right_wid_90,.text_right_wid_140{
	text-align:right !important;
}
.text_right_wid_90{
	width:90px;
}
.text_right_wid_140{
	width:140px;
}
.text_center{
	text-align:center !important;
}
.text_left{
	text-align:left !important;
}
.display_none{
	display:none;
}

/* article */

.txt_title{
	width:523px;
}
#img p{
	float:left;
	padding-right:15px;
	margin:0;
}
#img p img{
	max-width:60px; max-height:60px;
}
.err{
	padding-left:10px; color:#ff0000;
}
.auth_sort{
	width:70%;
	margin:0;
	padding:0;
}
.group_rule span{
	display: inline-block;
	min-width:120px;
}
.group_rule .title{
	font-weight: bold;
	font-size:13px;
}
.page_label{text-align:right; color:#717171; font-weight:600;}